body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background: linear-gradient(rgba(42, 0, 183, 0.7), rgba(66, 0, 108, 0.7));
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    padding: 0 50px;
}

.login-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    background: #F5F5F5;
    padding-bottom: 30px;
    border-radius: 20px;
    transform: translateX(-20%);
}

.login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.icon {
    margin-left: 30px;
    font-size: 30px;
    color: #797979;
}

.input input {
    width: 400px;
    height: 50px;
    padding: 0px 20px;
    background: none;
    border: none;
    outline: none;
    color: #797979;
    font-size: 24px;
}

.submit-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px auto;
    padding: 10px 0;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border-radius: 50px;
    border: none;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit.gray {
    background-color: #ccc;
    border-color: #ccc;
    color: #666;
    cursor: not-allowed;
}
.submit.gray:hover {
    background-color: #ccc;
    border-color: #ccc;
}

.submit.toggle-button {
    background-color: #4c00b4;
    border-color: #4c00b4;
    color: white;
    cursor: pointer;
}
.submit.toggle-button:hover {
    background-color: #4500a1;
    border-color: #4500a1;
}

.submit.submit-active {
    background-color: #F2AF29;
    border-color: #F2AF29;
    color: white;
}
.submit.submit-active:hover {
    background-color: #e59b26;
    border-color: #e59b26;
}
.submit:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}