html, body {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(rgba(42, 0, 183, 0.7), rgba(66, 0, 108, 0.7));
}

.welcome-page-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(rgba(42, 0, 183, 0.7), rgba(66, 0, 108, 0.7));
    overflow: auto;
}

.welcome-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    background: linear-gradient(rgba(42, 0, 183, 0.7), rgba(66, 0, 108, 0.7));
}

.welcome-page-container > * {
    margin: 10px;
}

@media (max-width: 768px) {
    .welcome-page-container {
        flex-direction: column;
    }
}

img.img-fluid {
    width: 700px;
    height: auto;
}
