.welcome-page-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.welcome-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

.welcome-page-container>* {
    margin: 10px;
}

@media (max-width: 768px) {
    .welcome-page-container {
        flex-direction: column;
    }
}

img.img-fluid {
    width: 700px;
    height: auto;
}