body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

h1 {
    text-align: center;
    color: black;
}

.center-text {
    text-align: center;
    position: relative;
    padding: 50px;
}

.main-border {
    text-align: center;
    margin-top: 220px;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    animation: fadeIn 1s ease-in-out;
}




/* Animation keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.center-text h3,
.center-text h2,
.center-text p,


/* Delay animations for elements */
.center-text h3 {
    animation-delay: 0.2s;
}

.center-text h2 {
    animation-delay: 0.2s;
}

.center-text p {
    animation-delay: 0.2s;
}

.center-text .d-flex {
    animation-delay: 0.2s;
}